<p>First name passed in <%= @firstName %></p>
<p>Last name passed in <%= @lastName %></p>
<p>User Name passed in <%= @userName %></p>
<p>Email passed in <%= @email %></p>
<p>Password passed in <%= @password %></p>
<p>Confirmed Password passed in <%= @confirmPassword %></p>

